*{
    transition: all 0.2s;
}

.Header{
    position: absolute;
    padding: auto;
    background-color: #7514b1;
    width: 100%;
    height: 50px;
    top: 150px;
}

.ddMenu1{
    position: absolute;
    left: 20%;
    background-color: #7514b1;
    width: 190px;
    height: 50px;
}

.ddMenu1:hover{
    position: absolute;
    left: 20%;
    background-color: wheat;
    width: 190px;
    height: 60px;
}

.ddMenu2{
    position: absolute;
    left: 30%;
    background-color: #7514b1;
    width: 190px;
    height: 50px;
}

.ddMenu2:hover{
    position: absolute;
    left: 30%;
    background-color: wheat;
    width: 190px;
    height: 60px;
}

.ddMenu3{
    position: absolute;
    left: 40%;
    background-color: #7514b1;
    width: 191px;
    height: 50px;
}

.ddMenu3:hover{
    position: absolute;
    left: 40%;
    background-color: wheat;
    width: 191px;
    height: 60px;
}

.ddMenu4{
    position: absolute;
    left: 50%;
    background-color: #7514b1;
    width: 190px;
    height: 50px;
}

.ddMenu4:hover{
    position: absolute;
    left: 50%;
    background-color: wheat;
    width: 190px;
    height: 60px;
}

.ddMenu5{
    position: absolute;
    left: 60%;
    background-color: #7514b1;
    width: 190px;
    height: 50px;
}

.ddMenu5:hover{
    position: absolute;
    left: 60%;
    background-color: wheat;;
    width: 190px;
    height: 60px;
}

.ddMenu6{
    position: absolute;
    left: 70%;
    background-color: #7514b1;
    width: 190px;
    height: 50px;
}

.ddMenu6:hover{
    position: absolute;
    left: 70%;
    background-color: wheat;
    width: 190px;
    height: 60px;
}

.logo{
    position: absolute;
    bottom: 73px;
    left: 5%;
    width: 170px;
    height: 100px;
    z-index: 1;
}

.headImg{
    position: absolute;
    bottom: 50px;
    background-color: #af72d5;
    width: 100%;
    height: 150px;
}

h3{
    font-size: 45px;
}

.icon1{
    position: absolute;
    background:#adadad;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    right: 300px;
    top: -100px;

}

.icon2{
    position: absolute;
    background: #adadad;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    right: 250px;
    top: -100px;
    
}

.icon3{
    position: absolute;
    background: #adadad;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    right: 200px;
    top: -100px;    
}
.icon1:hover{
    position: absolute;
    background:  wheat;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    right: 300px;
    top: -100px;
}

.icon2:hover{
    position: absolute;
    background:  wheat;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    right: 250px;
    top: -100px; 
}

.icon3:hover{
    position: absolute;
    background:  wheat;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    right: 200px;
    top: -100px;
    
}